---

title: "MinesTRIX"
subtitle: "A privacy focused social media"

date: 2021-09-20T16:05:45+02:00
draft: false
---



<div id="">
  <section class="section hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class=" columns is-vcentered is-centered is-variable is-8">
          <div class="column is-one-third is-hidden-touch">
            {{< imgproc minestrix-homepage-light />}}
          </div>
          <div class="column is-2"></div>
          <div class="column ">
            <h2 class="title is-1 is-hidden-touch" style="font-size: 5.5vw;">MinesTRIX</h2>
            <h2 class="title is-1 is-hidden-desktop" style="font-size: 3rem;">MinesTRIX</h2>
            <h2 class="subtitle is-2">A privacy focused social media based on matrix*</h2>
            <a class="button is-success is-large mt-4" href="https://app.minestrix.henri2h.fr" target="_blank"> <span
                class="icon">
                <i class="fas fa-rocket"></i>
              </span>
              <span>Try now</span>
            </a>
            <p class="py-6">* Still in Alpha, not ready yet for everyday use</p>

          </div>
          <div class="column is-one-third is-hidden-desktop">
            {{< imgproc minestrix-homepage-light />}}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section hero is-fullheight has-background-white-bis">
    <div class="hero-body">
      <div class="container py-6 is-max-widescreen">
        <div class="content">
          <div class="columns is-vcentered">
            <div class="column">
              <h3 class="title is-2">Share freely</h3>

              <h3 class="title is-4"><span class="icon-text"><span class="icon"><i
                      class="fas fa-paper-plane"></i></span><span>Easy to use</span></span></h3>
              <p>Share easely text, images to your friends.</p>
              <p>React, comment the posts of your friends.</p>
              <p>We support Markdown 🎉</p>


              <h3 class="title is-4"><span class="icon-text"><span class="icon"><i
                      class="fas fa-lock"></i></span><span>Encrypted</span></span></h3>
              <p>Send End-To-End Encrypted posts so only your friends can see them <span class="icon"><i
                    class="fas fa-user-secret"></i></span></p>

              <h3 class="title is-4"><span class="icon-text"><span class="icon"><i
                      class="fas fa-share-nodes"></i></span><span>Decentralized</span></span></h3>
              <p>No central server. MinesTRIX is just an app.<br>
                Just use your regular Matrix server.</p>
              <div class="buttons">
                <a class="button is-info" href="https://joinmatrix.org/servers" , target="_blank">
                  <span class="icon">
                    <i class="fas fa-server"></i>
                  </span>
                  <span>Discover servers</span>
                </a>
                <a class="button is-success" href="https://matrix.org/docs/guides/installing-synapse" target="_blank">
                  <span class="icon">
                    <i class="fas fa-glasses"></i>
                  </span>
                  <span>Host your own server</span>
                </a>
              </div>
            </div>
            <div class="column is-two-fifths">
              {{< imgproc minestrix-share-dark />}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section hero is-fullheight">
    <div class="hero-body">
      <div class="container is-max-widescreen">
        <div class="content">
          <div class="columns is-vcentered ">
            <div class="column is-two-fifths is-hidden-touch">
              {{< imgproc minestrix-chat-light />}}
            </div>
            <div class="column is-2 is-hidden-touch"></div>
            <div class="column">
              <h3 class="title is-2">Chat securely</h3>

              <h3 class="title is-4"><span class="icon-text"><span class="icon"><i
                      class="fas fa-paper-plane"></i></span><span>Easy to use</span></span></h3>
              <p>Share easely text, images to your friends.</p>

              <h3 class="title is-4"><span class="icon-text"><span class="icon"><i
                      class="fas fa-lock"></i></span><span>Encrypted</span></span></h3>
              <p>End-To-End chats enabled by default.</p>
            </div>

            <div class="column is-two-fifths is-hidden-desktop">
              {{< imgproc minestrix-chat-light />}}
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section hero is-fullheight has-background-white-bis">
    <div class="hero-body">
      <div class="container py-6">
        <div class="content">
          <div class="columns is-vcentered">

            <div class="column">

              <h3 class="title is-2">Just works on your platform</h3>
              <p>MinesTRIX is cross platform and runs fast on all major platforms.</p>
              <h3 class="title is-4"><span class="icon-text"><span class="icon"><i
                      class="fas fa-mobile-button"></i></span><span>Mobile</span></span> </h3>
              <p><span class="icon-text">
                  <span class="icon">
                    <i class="fas fa-android"></i>
                  </span>
                  <span>Android</span>
                </span>
              </p>
              <p>
                <span class="icon-text">
                  <span class="icon">
                    <i class="fas fa-apple"></i>
                  </span>
                  <span>iOS</span>
                </span>
              </p>

              <h3 class="title is-4"><span class="icon-text"><span class="icon"><i class="fas fa-laptop"></i>
                  </span><span>Desktop</span></span></h3>
              <p>
                <span class="icon-text">
                  <span class="icon">
                    <i class="fas fa-linux"></i>
                  </span>
                  <span>Linux</span>
                </span>
              </p>
              <h3 class="title is-4"><span class="icon-text"><span class="icon"><i class="fas fa-globe"></i>
                  </span><span>WEB (Experimental)</span></span></h3>


            </div>

            <div class="column is-three-fifths">
              {{< imgproc minestrix-desktop-light />}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="theme-section" class="section hero is-fullheight has-background-black-ter">
    <div class="hero-body">
      <div class="container py-6">
        <div class="columns is-vcentered">

          <div class="column is-three-fifths is-hidden-touch theme-card" id='theme-black'>
            {{< imgproc minestrix-desktop-black />}}
          </div>
          <div class="column is-three-fifths is-hidden-touch theme-card" id='theme-white' style="display:none">
            {{< imgproc minestrix-desktop-light />}}
          </div>
          <div class="column is-hidden-touch is-1"></div>
          <div class="column">
            <div class="content">
              <h3 class="theme-text has-text-white title is-2">Dark theme ?</h3>
              <p class="theme-text has-text-white">Of course! Which team are you ?</p>
            </div>
            <div class="buttons">
              <a class="is-medium theme-button button is-info" onclick="openTab(event,'theme-black')"><span
                  class="icon"><i class="fas fa-moon"></i></span><span>Black theme</span></a>
            </div>
            <div class="buttons">
              <a class="is-medium theme-button button is-dark" onclick="openTab(event,'theme-white')"><span
                  class="icon"><i class="far fa-sun"></i></span><span>White theme</span></a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="hero is-medium has-background-white-bis">
    <div class="hero-body">
      <div class="section container content">
        <h2 class="title is-2"><span class="icon"><i class="fas fa-filter"></i></span><span> Your feed, your
            choice</span></h2>

        <h3 class="title is-4">You choose how your feed is sorted</h3>
        <p>Choose the way your feed is sorted. <span class="tag is-info">TODO</span></p>

        <h3 class="title is-4">Don't miss your friends posts</h3>
        <p>The post filtering is done on your phone, in app.<br>The way the post are sorted is transparent.</p>


        <h3 class="title is-4"><span class="icon-text"><span class="icon"><i class="fas fa-bullhorn"></i></span><span>No
              Ads</span><span class="icon"><i class="fas fa-fingerprint"></i></span><span>No Analytics</span></span>
        </h3>
        <p>Don't be the product !<br>As there is no central server, we don't know who's using our app.</p>
      </div>
    </div>
  </section>




  <section class="hero is-medium">
    <div class="hero-body">
      <div class="section container">
        <div class="columns is-vcentered">
          <div class="column">
            <h3 class="title is-2">Built on matrix</h3>

            <div class="content">
              <h3 class="title is-4"><span class="icon"><i class="fab fa-osi"></i></span> Matrix - an open source
                protocol
              </h3>

              <p>Chat securely with your friends using the matrix protocol.</p>
              <p>We are using the Matrix Dart SDK from Famedly.</p>

              <div class="buttons">

                <a class="button is-info py-4 mt-4" href="https://github.com/matrix-org/matrix-spec-proposals/pull/3639"
                  target="_blank"> <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>The MSC</span>
                </a>
                <a class="button is-success py-4 mt-4" href="https://matrix.org" target="_blank"> <span class="icon">
                    <i class="fas fa-comment-alt"></i>
                  </span>
                  <span>Learn more</span>
                </a>
              </div>


              <div class="is-hidden-touch">
                <h3 class="title is-4 mt-6 mb-4"><span class="icon"><i class="fas fa-search"></i></span> Find your
                  friends on matrix
                </h3>
                <p>
                  Friends suggestion based on the friends of your
                  friends.
                </p>
              </div>
            </div>
          </div>

          <div class="column is-one-third">
            <img
              src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2F1%2F18%2FMatrix_logo1.png&f=1&nofb=1">
          </div>
        </div>
  </section>

  <section class="hero is-medium has-background-white-bis">
    <div class="hero-body">
      <div class="section container">
        <div class="columns">

          <div class="column content">
            <h2 class="title is-2">🎉 Contribute</h2>

            <h3 class="title is-4">
              <span class="icon-text">
                <span class="icon"><i class="fas fa-globe"></i></span>
                <span> Spread the word</span>
              </span>
            </h3>
            <p>Tell your friends about it.</p>

            <h3 class="title is-4">
              <span class="icon-text">
                <span class="icon"><i class="fas fa-code-branch"></i></span>
                <span> Know how to code ?</span>
              </span>
            </h3>
            <p> Fork it and create pull requests ! Our code is on <a
                href="https://gitlab.com/minestrix/minestrix-flutter">gitlab</a>.</p>

            <h3 class="title is-4">
              <span class="icon-text">
                <span class="icon"><i class="fas fa-language"></i></span>
                <span> Translate</span>
              </span>
            </h3>
            <p>(To come) We need help translating MinesTRIX in your language !!</p>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="section hero is-medium">
    <div class="hero-body">
      <div class="container content">

        <div class="columns">
          <div class="column is-flex">
            <div class="card has-background-info">
              <div class="p-5">
                <p class="title has-text-white">Come chat with us !</p>
                <a href="https://matrix.to/#/#minestrix:carnot.cc">
                  <div class="tags has-addons">
                    <span class="tag is-medium is-black">#minestrix</span>
                    <span class="tag is-medium is-wihte has-text-info">:carnot.cc</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="column">
            <p class="title">Links</p>

            <a class="button is-success is-medium" target="_blank"
              href="https://gitlab.com/minestrix/minestrix-flutter">
              <span class="icon">
                <i class="fab fa-gitlab"></i>
              </span>
              <span>Source Code on Gitlab</span>
            </a>

          </div>
        </div>
      </div>
  </section>

</div>