<!DOCTYPE html>
<html>

<head>
  {{- partial "head.html" . -}}

  <title>{{ block "title" . }}
    {{ .Title }}
    {{ end }}
  </title>
</head>

<body class="has-navbar-fixed-top">
  {{ block "nav" . }}
  {{- partial "nav.html" . -}}
  {{ end }}

  {{ block "main" . }}
  <!-- The part of the page that begins to differ between templates -->
  {{ end }}

  {{ block "footer" . }}
  <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
  {{- partial "footer.html" . -}}
  {{ end }}

</body>

</html>