{{ define "main" }}
<div class="section">
    <section class="container content">
        <h1 class="header">{{.Title}}</h1>
        {{.Content}}
    </section>
    <section class="container is-max-desktop">
        {{ range .Pages }}

        <div class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                    <h2 class="title">{{.Title}}</h2>
                    <h3 class="subtitle">
                        <small>{{.Date.Format "2006-01-02"}}</small> <small
                            class="has-text-weight-normal">@{{.Params.author}}</small>
                    </h3>
                    <br>
                    {{.Content}}
                    </p>
                </div>
            </div>
        </div>
        {{ end }}
    </section>
</div>
{{ end }}