{{ define "main" }}

<div class="container">
    <section class="section">
        <section class="content">
            <h1 class="header">{{.Title}}</h1>
            <p class="subtitle">
                {{ .Date.Format "Mon Jan 2, 2006" }} - @{{ .Params.author }}
            </p>

            {{.Content}}
        </section>

        <aside id="meta">
            <div>
                <section>
                </section>
                {{ with .Params.topics }}
                <ul id="topics">
                    {{ range . }}
                    <li><a href="{{ " topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
                    {{ end }}
                </ul>
                {{ end }}
                {{ with .Params.tags }}
                <ul id="tags">
                    {{ range . }}
                    <li> <a href="{{ " tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>

            <nav class="pagination" role="navigation" aria-label="pagination">
                {{ with .PrevInSection }}
                <a class="pagination-previous" href="{{.Permalink}}" title="{{.Title}}">{{.Title}}</a>
                {{ end }}
                {{ with .NextInSection }}
                <a class="pagination-next" href="{{.Permalink}}" title="{{.Title}}">{{.Title}}</a>
                {{ end }}
            </nav>

        </aside>
    </section>


</div>
{{ end }}