<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item has-text-weight-bold is-size-3" href="/">
                MinesTRIX
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu is-size-5">
            <div class="navbar-end">
                <span class="navbar-item buttons">
                    <a class="button is-info is-medium" href="https://gitlab.com/minestrix/minestrix-flutter" target="_blank">
                        <span class="icon">
                            <i class="fab fa-gitlab"></i>
                        </span>
                        <span>GitLab</span>
                    </a>
                    <a class="button is-info is-medium" href="/posts">
                        <span class="icon">
                            <i class="fas fa-newspaper"></i>
                        </span>
                        <span>Blog</span>
                    </a>
                    <a class="button is-success is-medium" href="https://app.minestrix.henri2h.fr" target="_blank">
                        <span class="icon">
                            <i class="fas fa-rocket"></i>
                        </span>
                        <span>Try Now</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</nav>