{{ $img := .Page.Resources.GetMatch (printf "*%s*" (.Get 0)) }}
{{ $command := .Get 1 }}
{{ $options := .Get 2 }}
{{ $caption := .Get 3 }}
{{ if eq $command "Fit"}}
{{ $img = $img.Fit $options }}
{{ else if eq $command "Resize"}}
{{ $img = $img.Resize $options }}
{{ else if eq $command "Fill"}}
{{ $img = $img.Fill $options }}
{{ else if eq $command "Crop"}}
{{ $img = $img.Crop $options }}
{{ end }}

<figure class="image">
    <img class="card" style="max-width: 100%; width: auto; height: auto; border-radius: 12px;"
        src="{{ $img.RelPermalink }}" width="{{ $img.Width }}" height="{{ $img.Height }}">
    <figcaption>
        <small>
            {{ with .Inner }}
            {{ . }}
            {{ else }}
            {{ $caption }}
            {{ end }}
        </small>
    </figcaption>
</figure>